<?php
return [
    'slim' => [
        'displayErrorDetails' => true, // set to false in production
        'addContentLengthHeader' => false, // Allow the web server to send the content-length header
    ],
    'db' => [
        'driver' => 'mysql',
        'host' => '127.0.0.1',
        'username' => '',
        'database' => '',
        'password' => '',
        'charset' => 'utf8mb4'
    ],
    'app' => [
        'submitLimitHours' => 6,
        'submitLimitSubmissions' => 5,
        'storageLimitDays' => 60,
        'maxFileSize' => '80M',
        'discordWebhookUrl' => '',
        'timestampFormat' => 'F j, Y H:i:s',
        'baseUrl' => 'https://base/url'
    ]
];
